
ul.dropdown-lr {
    width: 500px;
}

/* mobile fix */
@media (max-width: 768px) {
    .dropdown-lr h3 {
        color: #eee;
    }

    .dropdown-lr label {
        color: #eee;
    }
}

.navbar-nav > li > .dropdown-menu {
    width: 100px
}

.dropdown-menu {
    min-width: 300px;
}

.navbar {
  position: relative;
  min-height: 25px;
  margin-bottom: 0px;
  border: 1px solid transparent;
}
.progress-bar-danger {
    background-color: #0f0f0f;
}


.navbar {
    height:35px;
}

#authnav {

    height:55px;

}
#authdrop
.dropdown-menu {
    min-width: 30px;
    background-color: #FFFFFF;
}


body {
    padding-top: 0px;
}