<!DOCTYPE html>
<html lang="en">
<head>
    <title>CSC {{ name }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src=https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <script src="{{ url_for('static', filename='csc.js') }}"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Main_Page.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='Main_Page2.css') }}"/>
    <script src="static/main_page3.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='csc.css') }}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
{% if user.is_authenticated %}
    {% include 'nav_authenticated.jinja2' %}
{% else %}
    {% include 'nav_unauthenticated.jinja2' %}
{% endif %}
<br>
{% include 'flash.jinja2' %}
{%- block content -%}
    Missing "content" block in jinja template!
{%- endblock -%}
{% include 'footer.jinja2' %}
</body>
</html>
