<!DOCTYPE html>
<html lang="en">
<head>
    <title>CSC {{ name }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src=https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    <script src="{{ request.static_url('csc:static/csc.js') }}"></script>
    <link rel="stylesheet" href="{{ request.static_url('csc:static/csc.css') }}"/>
    <link rel="shortcut icon" href="{{ request.static_url('csc:static/favicon.ico') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
{% if user %}
    {% include 'nav_authenticated.jinja2' %}
{% else %}
    {% include 'nav_unauthenticated.jinja2' %}
{% endif %}

<!--{% if user %}
    <li>
        <input id="search_box" name="search_value"
               value="{{ user.search_box.search_value if user.search_box else '' }}"
               data-search_url="{{ user.search_box.search_url if user.search_box else '' }}"
               title='{{ user.search_box.search_title if user.search_box else '' }}'
               autofocus>
    </li>
    <li><a href="{{ request.route_url('user', id=user._id) }}">{{ user.name }}</a></li>
    {% if 'admin' in user %}
        <li><a href="{{ request.route_url('create_user') }}">Create user</a></li>
    {% endif %}-->

{% endif %}
<br>
<div id="search_result">
    <ul></ul>
</div>
{%- block content -%}
    Missing "content" block in jinja template!
{%- endblock -%}
</body>
</html>
