<!DOCTYPE html>
<html lang="en">
<head>
    <title>CSC {{ name }}</title>
    <link rel="stylesheet" href="{{ request.static_url('csc:static/csc.css') }}"/>
    <link rel="shortcut icon" href="{{ request.static_url('csc:static/favicon.ico') }}">
</head>
<body>
{%- block header -%}
    <ul id="top_menu">
        <li><a href="{{ request.route_url('home') }}">Home</a></li>
        {% if user %}
            <li><a href="{{ request.route_url('user', id=user._id) }}">{{ user.name }}</a></li>
            <li><a href="{{ request.route_url('logout') }}">Logout</a></li>
            {% if 'admin' in user %}
                <li><a href="{{ request.route_url('create_user') }}">Create user</a></li>
            {% endif %}
        {% else %}
            <li><a href="{{ request.route_url('login') }}">Log In</a></li>
        {% endif %}
    </ul>
    <br>
    <hr>
{%- endblock -%}
{%- block content -%}
    Missing "content" block in jinja template!
{%- endblock -%}
</body>
</html>
