<div class="container fluid text-center">
    <h3><a href="\static\Fake Resume.pdf">My Resume</a></h3>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-2">
                            <ul class="list-unstyled">
                                <li><h4 class="text-primary">STUFF</h4>
                                <li>
                                <li><a href="#" id="">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-2">
                            <ul class="list-unstyled">
                                <li><h4 class="text-primary">STUFF</h4>
                                <li>
                                <li><a href="#" id="">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li><h4 class="text-primary">STUFF</h4>
                                <li>
                                <li><a href="#" id="">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-2">
                            <ul class="list-unstyled">
                                <li><h4 class="text-primary">STUFF</h4>
                                <li>
                                <li><a href="#" id="">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-2">
                            <ul class="list-unstyled">
                                <li><h4 class="text-primary">STUFF</h4>
                                <li>
                                <li><a href="#" id="">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                                <li><a href="#" id="Techinfo">thing</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-2">
                            <ul class="list-unstyled">
                                <li><h4 class="text-danger">Sign up</h4>
                                <li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>