<div class="container-fluid bgimg-1" id="typewrite">
    <div class="bottom" style="white-space:nowrap;">
        <p class="line-1 anim-typewriter">Welcome to The
            University Connection Technology Web</p>
    </div>
</div>
<div class="container" id="about">
    <h3 class="text-center">ABOUT UCTechWeb</h3>
    <p class="text-center"><em><h3>Our Purpose</h3></em></p>
    <p><h4>University Connection Technology Web, or UCTechWeb, is an online student portal that has redesigned the way
    students connect with one another and interact with potential employers. In today’s society, getting a degree is
    simply not enough to stand out from the rest of the pack. UCTechWeb aims to aid student’s in promoting their
    knowledge, abilities, and, most importantly, their out-of-the-classroom experiences and involvement, that
    differentiate them from rest of their peers.</h4> </p>


    <div class="row">
        <!-- Hide this text on small devices -->
    </div>
    <p class="container text-center center-block"><h4>Get involved</h4></p>
</div>
<div class="container-fluid" style="width:100%; padding-right:0px;">
    <div class="row" style="background-color:lightgrey; width:100%; color:black;">
        <div class="col-md-3">
            <span class="col-md-3"><h4>100000+</h4>
            <h4>Users</h4></span>
        </div>
        <div class="col-md-3">
            <span class="col-md-3"><h4>55+</h4>
            <h4>Companies</h4></span>
        </div>
        <div class="col-md-3">
            <span class="col-md-3"><h4>89+</h4>
            <h4>Competitions</h4></span>
        </div>
        <div class=col-md-3>
            <span class="col-md-3"><h4>100+</h4>
            <h4>Clubs</h4></span>
        </div>
    </div>
</div>
<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2" id="students1">
    <div class="center-block">
        <div class="text-center post-content">
            <span class="center-block"><h1><em>STUDENTS</em></h1></span>
        </div>
    </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="content container" id="students">
    <h3 class="text-center"><em>Benefits</em></h3>
    <p><h4> Using UCTechWeb, students from all around the
    world
    will have the ability to broadcast their involvement in university clubs, as well as their own, unique
    inventions, ideas, and other successes they obtain outside of the classroom. UCTechWeb will also give students
    the ability to connect and interact with other students at their university, and at other universities around
    the globe, who are involved in the same types of clubs and organizations, and who have the same hobbies and
    interests. UCTechWeb will allow students to collaborate and share their knowledge and experiences with each
    other.</h4></p>
    <br></div>
<div id="services" class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-tasks logo-small"></span>
            <h4>Clubs</h4>
            <p>Direct access to contact other clubs or companies</p>

        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-user logo-small"></span>
            <h4>News</h4>
            <p>University Club Newsfeed</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-usd logo-small"></span>
            <h4>Make Money</h4>
            <p>User friendly Free lancing platform and tutoring opportunities</p>
        </div>
    </div>
    <br><br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-edit logo-small"></span>
            <h4>Forums</h4>
            <p>Ask questions on specific subjects that seek your interest.</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-globe logo-small"></span>
            <h4>Networking</h4>
            <p>Companies have ability to send job opening directly to clubs or individual students based on what they
                see</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench logo-small"></span>
            <h4 style="color:#303030;">Competitions</h4>
            <p>Be updated by with the compeititons coming up in the future</p>
        </div>
    </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 container ">
    <div class="center-block"></div>
    <div class="text-center post-content2">
        <span class="center-block"><h1>COMPETITION HOSTS, COMPANIES, AND MORE</h1></span>
    </div>
</div>

<div class="content container" id="students">
    <h3 class="center-block"><em>Company Benefits</em></h3>
    <p><h4>UCTechWeb is not only for the student. UCTechWeb also gives companies the opportunity to see what their
    potential employees are accomplishing when the textbooks are put away. While GPA is an important factor, work
    experience and the development of “soft skills,” such as communication, leadership, and xxx, are invaluable to
    employers. Having the ability to actually see (through the use of student profiles, shared videos and photos)
    what prospective employees are working on, and what types of things they are accomplishing, puts meaning to the
    words on a resume, which results in more meaningful and successful hiring of employees.
</h4></p><br>
    <h3 class="center-block"><em>Club/Competition Benefits</em></h3>
    <p><h4>UCTechWeb provides university clubs a better way to stay connected and promote their work. UCTechWeb
    gives
    clubs the ability to recruit potential new members, to share meeting and event dates and times, and keep their
    members informed. Clubs will also be given the opportunity to reach out to other clubs. UCTechWeb will also give
    employers the opportunity to see what students are working on as well as the what awards, recognition, and
    achievements of the clubs in which they participate.
</h4></p><br>
</div>

<!-- Container (Contact Section) -->
<div align="center">
    <div class="container center-block" id="all users" align="center">
        <div class="row" align="center">
            <div class="center-block" align="center">
                <div class=" center-block">
                    <h3>Have Questions?</h3> Email us at:
                    Support@UCTechWeb.com<br>
                </div>
                <form action="" target="_blank">
                    <div class="row" style="margin:0 -16px 8px -16px">
                        <div class="center">
                            <input class="input" type="text" placeholder="Name" required name="Name">
                        </div>
                        <div class="center">
                            <input class="input" type="text" placeholder="Email" required name="Email">
                        </div>
                    </div>
                    <input class="input" type="text" placeholder="Message" required name="Message">
                    <button class="btn-info" type="submit">
                        <i class="fa fa-paper-plane"></i> SEND MESSAGE
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

