<div class="bgimg-1" id="typewrite">
    <div class="bottom" style="white-space:nowrap;">
        <p class="line-1 anim-typewriter">Welcome to The
            University Connection Technology Web.</p>
    </div>
</div>

<div class="container" id="about">
    <h3 class="text-center">ABOUT UCTechWeb</h3>
    <p class="text-center"><em>Misson</em></p>
    <p>The University Connection Technology Web, also known as UCTechWeb is a dynamic website that understands the
        importance
        of Academic Clubs in schools and was built to help aid in the rapid growth of regular involvement. This site
        connects you with similar clubs all around
        the world that can possibly aid in overcoming challenges that are faced everyday. Students have the ability to
        contact any student in
        all academic clubs associated with UCTechWEB as well as companies and compeittion hosts. Students will also be
        able to utilize the site to freelance, network, increase job opportunity, obtain crucial competition information
        and much more. The goal of the site is to bring students together as well as increase the involvement of
        academic
        clubs to help in team building and exposure in real world applications. </p>
    <div class="row">
        <!-- Hide this text on small devices -->
    </div>
    <p class="container text-center center-block"><h4>Though it's understood that GPA is important. We want to make sure
    that
    the hands on experience gets more credit:</h4></p>
</div>


<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 container " id="students1">
    <div class="center-block">
    </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="content container" id="students">
    <h3 class="center-block">STUDENT BENEFITS</h3>
    <p><em>Let's change the norm by increasing the involvment<br> Students on UCTechWeb should take
        advantage to all the different tools it has to offer. Check them out
    </em></p><br></div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 container ">
    <div class="center-block"></div>
</div>

<div class="content container" id="students">
    <h3 class="center-block">STUDENT BENEFITS</h3>
    <p><em>Let's change the norm by increasing the involvment<br> Students on UCTechWeb should take
        advantage to all the different tools it has to offer. Check them out
    </em></p><br>
</div>

<!-- Container (Contact Section) -->
<div align="center">
    <div class="container center-block" id="all users" align="center">
        <h3 class="center">Companies, Competition hosts, and Guests</h3>
        <p class="center"><em>You will be able to blah blah blah</em></p>
        <div class="row" align="center">
            <div class="center-block" align="center">
                <div class=" center-block">
                    <h3>Have Questions?</h3> Email us at:
                    Support@UCTechWeb.com<br>
                </div>
                <form action="" target="_blank">
                    <div class="row" style="margin:0 -16px 8px -16px">
                        <div class="center">
                            <input class="input" type="text" placeholder="Name" required name="Name">
                        </div>
                        <div class="center">
                            <input class="input" type="text" placeholder="Email" required name="Email">
                        </div>
                    </div>
                    <input class="input" type="text" placeholder="Message" required name="Message">
                    <button class="btn-info" type="submit">
                        <i class="fa fa-paper-plane"></i> SEND MESSAGE
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

