{% extends "base.jinja2" %}

{% block content %}
<h1>Welcome to CSC</h1>
{% if user  %}
    <p>Your school is: {{ user.school.name }}</p>
{% endif %}
{% if user and user.clubs %}
    <p>Your clubs are:</p>
    <ul>
    {% for club in user.clubs %}
        <li>{{ club.name }} - {{ club.school.name }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% if user.to_notifications %}
    <h2>Notifications to you</h2>
    {% for n in user.to_notifications %}
    <div class="notification">
        <p class="post_from">Sender: {{ n.sender.name }}</p>
        <p class="post_date">Date:{{ n.date }}</p>
        <p class="post_title">Title: {{ n.title }}</p>
        <p class="post_text">Texxt: {{ n.text }}</p>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}
