{% if current_user %}
    <p>Your school is: {{ current_user.school.name }}</p>
{% endif %}
{% if current_user and current_user.clubs %}
    <p>Your clubs are:</p>
    <ul>
        {% for club in current_user.clubs %}
            <li>{{ club.name }} - {{ club.school.name }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% if current_user.to_posts %}
    <h2>Posts to you</h2>
    {% for post in current_user.to_posts %}
        {% include 'post.jinja2' %}
    {% endfor %}
{% endif %}
