{% extends "base.jinja2" %}

{% block content %}
<h1>Login</h1>
<span>{{ message }}</span>

<form action="{{ url }}" method="post">
    <input type="hidden" name="came_from" value="{{ came_from }}"/>
    <label for="email">Email</label>
    <input type="text" id="email" name="email" value="{{ email }}"/><br/>
    <label for="password">Password</label>
    <input type="password" id="password" name="password"/><br/>
    <input type="submit" name="form.submitted" value="Log In"/>
</form>
{% endblock %}
