{% extends "base_noNav.jinja2" %}

{% block content %}
    <div class="container">
    <div class="row">
        <h1>Select Recipients</h1>
    </div>
    <div class="row">
        <form >
            <div class="input-group">
                <input type="text" id="search_box" name="search_value" autocomplete="off"
                    value="{{ current_user.search_box.search_value if current_user and current_user.search_box else '' }}"
                    data-search_url="{{ 'append_search/' }}"
                    title='{{  'Search by Person or Club' }}'
                    class="form-control search_box" placeholder="Search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"> Add
                    </button>
                </div>
            </div>
            <div id="search_result" class="search_result">
            </div>
        </form>
    </div>
    <div class="row">
        {% if users %}
        <div>
            <div>Users</div>
            {% for user in users %}
                <div><a href="{{ url_for('user', id=user._id) }}">{{ user.name }}</a></div>
            {% endfor %}
        </div>
        {% endif %}
        {% if clubs %}
            <div>
                <div>Clubs</div>
                {% for club in clubs %}
                    <div><a href="{{ url_for('club', id=club._id) }}">{{ club.name }}</a></div>
                {% endfor %}
            </div>
        {% endif %}
        {% if not users and not clubs and not posts and not schools %}
            <div>Sorry, nothing to show</div>
        {% endif %}
    </div>
    </div>
{% endblock %}
