<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <!-- Logo-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MyNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ url_for('home') }}" class="navbar-brand">UCTechWeb</a>
        </div>
        <!-- Menu Items-->
        <div class="collapse navbar-collapse" id="MyNavbar">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="#">Job Opportunities</a></li>
                <li><a href="#">Q-Jobs</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="">My TechWebs</a></li>
                <li><a href="test1">My Messages</a></li>
                <li class="dropdown" id="authdrop">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Clubs <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if current_user.clubs %}
                            {% for club in current_user.clubs %}
                                <li><a href={{ url_for('club', id=club._id) }} data-toggle="tooltip"
                                       data-placement="right"
                                       title="{{ club.name }}">{{ club.short_name or club.name }}</a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li>Sorry, no clubs here :(</li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a href="{{ url_for('user', id=current_user._id) }}">My Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Log out</a></li>
            </ul>
            <form class="navbar-form pull-right">
                <div class="input-group fluid">
                    <input type="text" id="search_box" name="search_value"
                           value="{{ current_user.search_box.search_value if current_user and current_user.search_box else '' }}"
                           data-search_url="{{ current_user.search_box.search_url if current_user and current_user.search_box else 'search/' }}"
                           title='{{ current_user.search_box.search_title if current_user and current_user.search_box else 'Search by School, Person, Club, Company, Competition, State, City' }}'
                           class="form-control search_box" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
                <div id="search_result" class="search_result">
                </div>
            </form>

        </div>
    </div>
</nav>
