{% extends "base.jinja2" %}

{% from 'macros.jinja2' import render_field %}

{% block content %}
    <h1>Register</h1>
    <form method=post>
        <dl>
            {{ render_field(form.member_type) }}
            {{ render_field(form.username, autofocus=True) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm) }}
            {{ render_field(form.accept_tos) }}
            <dd><a href="{{ url_for('terms_and_conditions') }}" target="_blank">Terms and conditions</a>
                <input type=submit value=Register></dd>
        </dl>
    </form>
{% endblock %}
