{% extends "base.jinja2" %}

{% block content %}
    <div class="row">
        <div class="container col-sm-6">
            <div id="signupbox" style=" margin-top:50px"
                 class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Students</div>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="">
                            <form class="form-horizontal" method="post">
                                <div id="div_id_name" class="form-group required">
                                    <label for="id_name" class="control-label col-md-4  requiredField"> First name<span
                                            class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md textinput textInput form-control" id="id_name"
                                               name="name"
                                               placeholder="Enter First Name"
                                               style="margin-bottom: 10px"
                                               type="text"/>
                                    </div>
                                </div>
                                <div id="div_id_name" class="form-group required">
                                    <label for="id_name" class="control-label col-md-4  requiredField"> Last name<span
                                            class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md textinput textInput form-control" id="id_name"
                                               name="name"
                                               placeholder="Enter Last Name"
                                               style="margin-bottom: 10px"
                                               type="text"/>
                                    </div>
                                </div>
                                <div id="div_id_location" class="form-group required">
                                    <label for="id_location"
                                           class="control-label col-md-4  requiredField">Birthdate<span
                                            class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md textinput textInput form-control" id="Graduation"
                                               name="Graduation" placeholder="When is your birthday"
                                               style="margin-bottom: 10px"
                                               type="text"/>
                                    </div>
                                </div>
                                <div id="div_id_gender" class="form-group required">
                                    <label for="id_gender" class="control-label col-md-4  requiredField">
                                        Gender<span
                                            class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 " style="margin-bottom: 10px">
                                        <label class="radio-inline"> <input type="radio" name="gender"
                                                                            id="id_gender_1"
                                                                            value="M"
                                                                            style="margin-bottom: 10px">Male</label>
                                        <label class="radio-inline"> <input type="radio" name="gender"
                                                                            id="id_gender_2"
                                                                            value="F" style="margin-bottom: 10px">Female
                                        </label>
                                    </div>
                                </div>
                                <div id="div_id_company" class="form-group required">
                                    <label for="id_company"
                                           class="control-label col-md-4  requiredField">University<span
                                            class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md textinput textInput form-control" id="id_company"
                                               name="company"
                                               placeholder="Enter University name" style="margin-bottom: 10px"
                                               type="text"/>
                                    </div>
                                </div>
                                <div id="div_id_catagory" class="form-group required">
                                    <label for="id_catagory"
                                           class="control-label col-md-4  requiredField">Clubs<span
                                            class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <div class="form-group">
                                            <select multiple class="form-control" id="Clubselect">
                                                <option>ASME</option>
                                                <option>AIAA</option>
                                                <option>3DP</option>
                                                <option>CS Group</option>
                                                <option>E-Week Crew</option>
                                                <option>Drone Racing</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div id="div_id_number" class="form-group required">
                                    <label for="id_number" class="control-label col-md-4  requiredField">Major<span
                                            class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md textinput textInput form-control" id="id_number"
                                               name="number"
                                               placeholder="provide your major" style="margin-bottom: 10px"
                                               type="text"/>
                                    </div>
                                </div>
                                <div id="div_id_location" class="form-group required">
                                    <label for="id_location" class="control-label col-md-4  requiredField">Graduation
                                        Year<span
                                                class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md textinput textInput form-control" id="Graduation"
                                               name="Graduation" placeholder="When do you graduate?"
                                               style="margin-bottom: 10px"
                                               type="text"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls col-md-offset-4 col-md-8 ">
                                        <div id="div_id_terms" class="checkbox required">
                                            <label for="id_terms" class=" requiredField">
                                                <input class="input-ms checkboxinput" id="id_terms" name="terms"
                                                       style="margin-bottom: 10px" type="checkbox"/>
                                                Agree with the terms and conditions
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="aab controls col-md-4 "></div>
                                    <div class="controls col-md-8 ">
                                        <input type="submit" name="Signup" value="Signup"
                                               class="btn btn-primary btn btn-info"
                                               id="submit-id-signup"/>
                                    </div>
                                </div>

                            </form>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container col-sm-6">
            <div id="signupbox" style=" margin-top:50px"
                 class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Companies</div>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="">
                            <form class="form-horizontal" method="post">
                                <div id="div_id_name" class="form-group required">
                                    <label for="id_name" class="control-label col-md-4  requiredField">Company Name<span
                                            class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md textinput textInput form-control" id="id_name"
                                               name="name"
                                               placeholder="Enter Company Name"
                                               style="margin-bottom: 10px"
                                               type="text"/>
                                    </div>
                                </div>
                                <div id="div_id_name" class="form-group required">
                                    <label for="id_name" class="control-label col-md-4  requiredField">Street<span
                                            class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md textinput textInput form-control" id="id_name"
                                               name="name"
                                               placeholder="Enter Company Street"
                                               style="margin-bottom: 10px"
                                               type="text"/>
                                    </div>
                                </div>
                                <div id="div_id_name" class="form-group required">
                                    <label for="id_name" class="control-label col-md-4  requiredField">City<span
                                            class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md textinput textInput form-control" id="id_name"
                                               name="name"
                                               placeholder="Enter Company City"
                                               style="margin-bottom: 10px"
                                               type="text"/>
                                    </div>
                                </div>
                                <div id="div_id_name" class="form-group required">
                                    <label for="id_name" class="control-label col-md-4  requiredField">State<span
                                            class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md textinput textInput form-control" id="id_name"
                                               name="name"
                                               placeholder="Enter Company State"
                                               style="margin-bottom: 10px"
                                               type="text"/>
                                    </div>
                                </div>
                                <div id="div_id_name" class="form-group required">
                                    <label for="id_name" class="control-label col-md-4  requiredField">Zip Code<span
                                            class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md textinput textInput form-control" id="id_name"
                                               name="name"
                                               placeholder="Enter Company Zip Code"
                                               style="margin-bottom: 10px"
                                               type="text"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls col-md-offset-4 col-md-8 ">
                                        <div id="div_id_terms" class="checkbox required">
                                            <label for="id_terms" class=" requiredField">
                                                <input class="input-ms checkboxinput" id="id_terms" name="terms"
                                                       style="margin-bottom: 10px" type="checkbox"/>
                                                Agree with the terms and conditions
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="aab controls col-md-4 "></div>
                                    <div class="controls col-md-8 ">
                                        <input type="submit" name="Signup" value="Signup"
                                               class="btn btn-primary btn btn-info"
                                               id="submit-id-signup"/>
                                    </div>
                                </div>

                            </form>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container col-sm-7">
            <div id="signupbox" style=" margin-top:50px"
                 class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Competition Hosts</div>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="">
                            <form class="form-horizontal" method="post">
                                <div id="div_id_name" class="form-group required">
                                    <label for="id_name" class="control-label col-md-4  requiredField">Organization Name<span
                                            class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md textinput textInput form-control" id="id_name"
                                               name="name"
                                               placeholder="Enter Name of the organization "
                                               style="margin-bottom: 10px"
                                               type="text"/>
                                    </div>
                                </div>
                                <div id="div_id_name" class="form-group required">
                                    <label for="id_name" class="control-label col-md-4  requiredField">Street<span
                                            class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md textinput textInput form-control" id="id_name"
                                               name="name"
                                               placeholder="Enter Company Street"
                                               style="margin-bottom: 10px"
                                               type="text"/>
                                    </div>
                                </div>
                                <div id="div_id_name" class="form-group required">
                                    <label for="id_name" class="control-label col-md-4  requiredField">City<span
                                            class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md textinput textInput form-control" id="id_name"
                                               name="name"
                                               placeholder="Enter Company City"
                                               style="margin-bottom: 10px"
                                               type="text"/>
                                    </div>
                                </div>
                                <div id="div_id_name" class="form-group required">
                                    <label for="id_name" class="control-label col-md-4  requiredField">State<span
                                            class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md textinput textInput form-control" id="id_name"
                                               name="name"
                                               placeholder="Enter Company State"
                                               style="margin-bottom: 10px"
                                               type="text"/>
                                    </div>
                                </div>
                                <div id="div_id_name" class="form-group required">
                                    <label for="id_name" class="control-label col-md-4  requiredField">Zip Code<span
                                            class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md textinput textInput form-control" id="id_name"
                                               name="name"
                                               placeholder="Enter Company Zip Code"
                                               style="margin-bottom: 10px"
                                               type="text"/>
                                    </div>
                                </div>
                                <div id="div_id_name" class="form-group required">
                                    <label for="id_name" class="control-label col-md-4  requiredField">Industry<span
                                            class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md textinput textInput form-control" id="id_name"
                                               name="name"
                                               placeholder="Enter Company Zip Code"
                                               style="margin-bottom: 10px"
                                               type="text"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls col-md-offset-4 col-md-8 ">
                                        <div id="div_id_terms" class="checkbox required">
                                            <label for="id_terms" class=" requiredField">
                                                <input class="input-ms checkboxinput" id="id_terms" name="terms"
                                                       style="margin-bottom: 10px" type="checkbox"/>
                                                Agree with the terms and conditions
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="aab controls col-md-4 "></div>
                                    <div class="controls col-md-8 ">
                                        <input type="submit" name="Signup" value="Signup"
                                               class="btn btn-primary btn btn-info"
                                               id="submit-id-signup"/>
                                    </div>
                                </div>

                            </form>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container col-sm-6">
            <div id="signupbox" style=" margin-top:50px"
                 class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Guests</div>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="">
                            <form class="form-horizontal" method="post">
                                <div id="div_id_name" class="form-group required">
                                    <label for="id_name" class="control-label col-md-4  requiredField"> First name<span
                                            class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md textinput textInput form-control" id="id_name"
                                               name="name"
                                               placeholder="Enter First Name"
                                               style="margin-bottom: 10px"
                                               type="text"/>
                                    </div>
                                </div>
                                <div id="div_id_name" class="form-group required">
                                    <label for="id_name" class="control-label col-md-4  requiredField"> Last name<span
                                            class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md textinput textInput form-control" id="id_name"
                                               name="name"
                                               placeholder="Enter Last Name"
                                               style="margin-bottom: 10px"
                                               type="text"/>
                                    </div>
                                </div>
                                <div id="div_id_location" class="form-group required">
                                    <label for="id_location"
                                           class="control-label col-md-4  requiredField">Birthdate<span
                                            class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md textinput textInput form-control" id="Graduation"
                                               name="Graduation" placeholder="When is your birthday"
                                               style="margin-bottom: 10px"
                                               type="text"/>
                                    </div>
                                </div>
                                <div id="div_id_gender" class="form-group required">
                                    <label for="id_gender" class="control-label col-md-4  requiredField">
                                        Gender<span
                                            class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 " style="margin-bottom: 10px">
                                        <label class="radio-inline"> <input type="radio" name="gender"
                                                                            id="id_gender_1"
                                                                            value="M"
                                                                            style="margin-bottom: 10px">Male</label>
                                        <label class="radio-inline"> <input type="radio" name="gender"
                                                                            id="id_gender_2"
                                                                            value="F" style="margin-bottom: 10px">Female
                                        </label>
                                    </div>
                                </div>

                            </form>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}