<!DOCTYPE html>
<html lang="en">
<head>
    <title>CSC {{ name }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ request.static_url('csc:static/csc.js') }}"></script>
    <link rel="stylesheet" href="{{ request.static_url('csc:static/csc.css') }}"/>
    <link rel="shortcut icon" href="{{ request.static_url('csc:static/favicon.ico') }}">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top navbar-collapse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{{ url_for('home') }}">UCTechWeb</a>
        </div>
        <ul class="nav navbar-nav">
            <li class=><a href="{{ url_for('home') }}">Home</a></li>
            <ul class="nav navbar-nav">
                <li><a href="#">Job Opportunities</a></li>
                <li><a href="#">Q-Jobs</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="test2">My TechWebs</a></li>
                <li class=><a href="test1">My Messages</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Clubs <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">ASME </a></li>
                        <li><a href="#">AIAA</a></li>
                        <li><a href="#">3DP </a></li>
                    </ul>
                </li>
                <li class=><a href="test3">My Profile</a></li>
                <li class="pull-right"><a href="{{ url_for('logout') }}">Logout</a></li>
                </li>
                <form class="navbar-form navbar-right">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>

                        </div>
                    </div>
                </form>
            </ul>
            </ul>
    </div>
    </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="row chats-row">
                <div class="col-md-12">
                    <a href="#" class="list-group-item open-request">
                        <p>Name: Brandon Torres</p>
                        <p>Email: brandon.torres@gmail.com</p>
                        <p>Club: ASME</p>
                        <p>School: Harvard University</p>
                        <button class="btn btn-default">Accept</button>
                    </a>
                    <a href="#" class="list-group-item chat-request">Robert Johnson - MIT Robotics</a>
                </div>
                <div class="col-md-12">
                    <a href="#" class="list-group-item">Chad Belt - University of Missouri ASME</a>
                    <a href="#" class="list-group-item list-group-item-success">Nellie Messler - Indiana University
                        3DP</a>
                    <a href="#" class="list-group-item active">Mike Jones - University of Missouri ASME</a>
                </div>
            </div>
        </div>
        <div class="col-md-9 current-chat">
            <div class="row chat-toolbar-row">
                <div class="col-sm-12">
                    <div class="btn-group chat-toolbar" role="group" aria-label="...">
                        <button id="chat-invite" class="btn btn-default ticket-option" type="button">
                            <i class="glyphicon glyphicon-plus"></i> Invite
                            <button id="chat-leave" class="btn btn-default ticket-option" type="button">
                                <i class="glyphicon glyphicon-remove-sign"></i> Leave Chat
                            </button>
                        </button>
                        <button id="chat-customer" class="btn btn-default ticket-option" type="button">
                            <i class="glyphicon glyphicon-paperclip"></i> Send Attachment
                        </button>
                        <button id="chat-create-ticket" class="btn btn-default ticket-option" type="button">
                            <i class="glyphicon glyphicon-envelope"></i> Send Email
                        </button>
                        </button>
                        <button id="chat-open-ticket" class="btn btn-default ticket-option" type="button">
                            <i class="glyphicon glyphicon-list-alt"></i> Send Resume'
                        </button>
                    </div>
                </div>
            </div>
            <div class="row current-chat-area">
                <div class="col-md-12">
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-body">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle "
                                             width="60" height="60"
                                             src="/static/Stefano_Pic.JPG"/>
                                    </a>
                                    <div class="media-body">
                                        Hey what are you doing tonight? Im trying to get things figured out here.
                                        <br>
                                        <small class="text-muted">Stefano Menci | 29th June at 5:00pm</small>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="media">
                            <div class="media-body">
                                <div class="media">
                                    <a class="pull-right" href="#">
                                        <img class="media-object img-circle"
                                             width="60" height="60"
                                             src="/static/Brandon_Pic.JPG"/>
                                    </a>
                                    <div class="media-body align-right">
                                        We are going to work on the Website
                                        <br>
                                        <small class="text-muted">Brandon Torres | 29th June at 5:01pm</small>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-body">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle "
                                             width="60" height="60"
                                             src="/static/Stefano_Pic.JPG"/>
                                    </a>
                                    <div class="media-body">
                                        Okay Great. Come over, I'll buy lunch
                                        <br>
                                        <small class="text-muted">Stefano Menci | 29th June at 5:01pm</small>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-body">
                                <div class="media">
                                    <a class="pull-right" href="#">
                                        <img class="media-object img-circle "
                                             width="60" height="60"
                                             src="/static/Brandon_Pic.JPG"/>
                                    </a>
                                    <div class="media-body">
                                        Okay, I'll head out soon
                                        <br>
                                        <small class="text-muted">Brandon Torres | 29th June at 5:02pm</small>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row current-chat-footer">
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Send</button>
                  </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>