{% extends "base.jinja2" %}


{% block content %}
    <style>

        .row.content {
            height: 1000px
        }

        /* Set gray background color and 100% height */
        .sidenav {
            padding-top: 100px;
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 25px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 25px;
            }

            .row.content {
                height: auto;
            }
        }
    </style>
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <p><a href="#" data-toggle="popover" title="Dismissible popover" data-content="some content blah blah"
                      data-trigger="focus">President: Chad Belt</a></p>
                <p><a href="#" data-toggle="popover" title="Dismissible popover" data-content="some content blah blah"
                      data-trigger="focus">Vice President:Brandon Torres</a></p>
                <p><a href="#" data-toggle="popover" title="Dismissible popover" data-content="some content blah blah"
                      data-trigger="focus">Tech Web Involvement:John Michaels </a></p>
                <p><a href="#" class="primary button">fd</a></p>
            </div>
            <div class="col-sm-8 text-center">
            <div id="band" class="container text-center wrapper2">
                  <div class="col-md-4"><h3 align="center">Expected Graduation:May 2017</h3></div>
        <div class="col-md-4"><h3 align="center">Brandon Torres</h3></div>
        <div class="col-md-4"><h3 align="center">Mechanical Engineering</h3></div>
        <div class="text-center center-block">
            <img src="/static/Brandon_Pic.jpg" class="img-responsive img-square" width="200"
                 height="175"></div>

        <div class="text-center">
            <button type="button" class="btn btn-primary">Photos</button>
            <button type="button" class="btn btn-primary">Videos</button>
            <button type="button" class="btn btn-primary">Message</button>
            <button type="button" class="btn btn-primary">Email</button>
            <button type="button" class="btn btn-primary">Call</button>
        </div>
                    <h3>University of Missouri Columbia</h3>
                    <p><em>About me</em></p>
                    <p>I am currently a student at the University of Missouri Columbia majoring in Mechanical &
                        Aerospace Engineering. To date I have gained hands on experience in many areas of aerospace
                        engineering including competing in an Intercollegiate Rocket Engineering Competition for AIAA
                        (American Institute of Aeronautics and Astronautics) MU and an Unmanned Aerial Vehicle
                        Competition for ASME (American Society of Mechanical Engineers). As of now I hold an officer
                        position in 4 academic clubs and 1 national Vice Chair of Communications of the Student District
                        Operating board of District 2 for ASME. At the University of Missouri I am trying not only to
                        obtain great education but to make a difference for the future of the Engineering program. One
                        way I have reached that goal was recently I co-founded the first MU chapter academic club SEDS.
                        (Students for the Exploration and Development of Space). The club is designed to promote space
                        exploration and develop a better understanding of space. Other than engineering competitions I
                        try to reach out to the younger generation students in our local community to help promote the
                        importance of studying STEM base subjects. Hosting rocket camps, traveling to schools to teach,
                        and giving tours are just a small amount of the involvement that I’ve done.</p>
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="text-center"><h4>The American Society of Mechanical Engineers</h4></p><br>
                            <a href="#demo" data-toggle="collapse">
                                <img src="static/Drone.jpg" class="img-circle person" alt="Drone" width="255"
                                     height="255">
                            </a>
                            <div id="demo" class="collapse">
                                <p>Position:Vice President 2014</p>
                                <p>Member:4 years</p>
                                <p><a href="/test2">Go to ASME Page</a></p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <p class="text-center"><h4>The American Institute of Aeronautics and Astronautics</h4></p>
                            <br>
                            <a href="#demo2" data-toggle="collapse">
                                <img src="static/Rocket.jpg" class="img-circle person" alt="Rocket" width="255"
                                     height="255">
                            </a>
                            <div id="demo2" class="collapse">
                                <p>Position:Treasurer</p>
                                <p>Member:4 years</p>
                                <a href="#demo">Go to AIAA Page</a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <p class="text-center"><h4>3D Printing Club</h4></p>
                            <br>
                            <a href="#demo3" data-toggle="collapse">
                                <img src="/static/3dp.jpg" class="img-circle person" alt="Rocket" width="255"
                                     height="255">
                            </a>
                            <div id="demo3" class="collapse">
                                <p>Position:Secretary</p>
                                <p>Member:4 years</p>
                                <a href="/test2">Go to 3DP Page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 sidenav">
                <div class="well">
                    <p>ADS</p>
                </div>
                <div class="well">
                    <p>ADS</p>
                </div>
            </div>
        </div>
    </div>


    <footer class="container-fluid text-cente lg r">
        <p>Footer Text</p>
    </footer>

    </body>
    </html>
{% endblock %}
