<div class="w3-top w3-black">
    <div class="w3-bar w3-black" id="myNavbar">
        <a class="w3-bar-item w3-button w3-black w3-hover-black w3-hide-medium w3-hide-large w3-right"
           href="Javascript:void(0);"
           onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>
        <a href="{{ request.route_url('home') }}" class="w3-bar-item w3-button">UCTechWeb</a>
        <a href="{{ request.route_url('home') }}" class="w3-bar-item w3-button"><i class="glyphicon glyphicon-home"></i>Home</a>
        <a href="#about" class="w3-bar-item w3-button w3-hide-small"><i class="glyphicon glyphicon-list-alt"></i> Job
            Opportunities</a>
        <a href="#students" class="w3-bar-item w3-button w3-hide-small"><i class="glyphicon glyphicon-flash"></i>
            Q-Jobs</a>
        <a href="#all users" class="w3-bar-item w3-button w3-hide-small"><i class="glyphicon glyphicon-cloud"></i>
            Forum</a>
        <a href="#all users" class="w3-bar-item w3-button w3-hide-small"><i class="glyphicon glyphicon-link"></i>
            My TechWebs</a>
        <a href="#all users" class="w3-bar-item w3-button w3-hide-small"><i
                class="glyphicon glyphicon-envelope"></i>
            My Messages</a>
        <a href="#all users" class="w3-bar-item w3-button w3-hide-small"><i
                class="glyphicon glyphicon-tower"></i>
            My Clubs</a>
        <a href="{{ request.route_url('user', id=user._id) }}" class="w3-bar-item w3-button w3-hide-small pull-right"><i
                class="glyphicon glyphicon-user"></i>
            My Profile</a>
        <a href="{{ request.route_url('logout') }}" class="w3-bar-item w3-button w3-hide-small pull-right"><i
                class="glyphicon glyphicon-off"></i>
            Log out</a>
        <u>
            <form class="navbar-form pull-right  w3-hide-small">
                <div class="input-group">
                    <input type="text" id="search_box" name="search_value"
                           value="{{ user.search_box.search_value if user.search_box else '' }}"
                           data-search_url="{{ user.search_box.search_url if user.search_box else '' }}"
                           title='{{ user.search_box.search_title if user.search_box else '' }}'
                           class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
                <div id="search_result">
                </div>
            </form>
        </u>
    </div>
</div>
</div>
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium">
    <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">About</a>
    <a href="" class="w3-bar-item w3-button" onclick="toggleFunction()">Login</a>
    <a href="" class="w3-bar-item w3-button" onclick="toggleFunction()">Create User</a>
    <a href="#" class="w3-bar-item w3-button">Search</a>
</div>
