{% extends "base.jinja2" %}

{% block content %}
    <div class="container-fluid bg-1 row center">
        <div class="col-md-4 row"><h1 align="center">{{ user_profile.name }}</h1></div>
        <div class="container row ">
            <img src="{{ request.static_url('csc:static/' + user_profile.photo) if user_profile.photo else request.static_url('csc:static/question_mark.jpg') }}"
                 class="img-responsive img-square center-block" alt="Drone" width="300" height="350"></div>
        <div class="text-center">
            <button type="button" class="btn btn-primary">Photos</button>
            <button type="button" class="btn btn-primary">Videos</button>
            <button type="button" class="btn btn-primary">Message</button>
            <button type="button" class="btn btn-primary">Email</button>
            <button type="button" class="btn btn-primary">Call</button>
            <div class="container">
                <div id="band" class="container text-center">
                    <h3>{{ user_profile.school.name }}</h3>
                    <h3 align="center" id="navtoptop">{{ user_profile.major }}</h3>
                    <h4 align="center">Expected Graduation: {{ user_profile.expected_graduation_date }}</h4>
                    <p><em>About me</em></p>
                    <p>{{ user_profile.about_me }}</p>
                    <br>
                    <div class="row">
                        {% for club in user_profile.clubs %}
                            <div class="col-sm-4">
                                <p class="text-center"><h4>{{ club.name }}</h4><br>
                                <a href="#collapsible-{{ club._id }}" data-toggle="collapse">
                                    <img src="{{ club.image('cover') if club.image('cover') else request.static_url('csc:static/question_mark.jpg') }}"
                                         class="img-circle person" alt="Drone" width="255" height="255">
                                </a>
                                <div id="collapsible-{{ club._id }}" class="collapse">
                                    <p>{{ user_profile.position_in_club(club._id) }}</p>
                                    <p>Member: ???</p>
                                    <p><a href="{{ request.route_url('club', id=club._id) }}">Go to {{ club.name }}
                                        Page</a></p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        {% for club in user_profile.clubs %}
            <div class="row">
                <div class="col-sm-4">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="{{ club.user_data.embedded_video }}"></iframe>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h3>{{ club.name }}</h3><br>
                    <h4><strong>MISSION:</strong>{{ club.user_data.mission }}</h4><br>
                    <p><strong>My Part:</strong>{{ club.user_data.mypart }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="container fluid text-center">
        {% if user_profile.resume %}
            <h3><a href="{{ request.static_url('csc:static/' + user_profile.resume) }}">My Resume</a></h3>
        {% else %}
            <h3>Sorry, no resume here :(</h3>
        {% endif %}
    </div>
{% endblock %}
